md-dialog {
    opacity: 0;
    min-width: 240px;
    max-height: 100%;
    width:60%;
}

@media screen and (max-width: 700px) {
    md-dialog { max-width: 100%; width:100%; }
}

md-dialog md-dialog-content { overflow: hidden; }

.angular-google-map-container {
    height: 400px;
}

.md-list-item-text * {line-height: 100% !important;}

.angular-google-map-container
{
    height: 85vh;
}

.logo {
    text-indent: -9999px;
    background: url('../img/logo.png') center center no-repeat;
    background-size: auto 44px;
    height: 64px;
    width: 100%;
}