
<md-content layout="column" flex class="md-padding">
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Map">
            <div ng-controller="gMap" ng-cloak>
                <md-content>
                    <div layout="row">
                        <md-input-container>
                            <label>Street Name</label>
                            <input>
                        </md-input-container>
                        <md-input-container>
                            <label>Free text</label>
                            <input>
                        </md-input-container>
                        <md-input-container>
                            <label>Time</label>
                            <md-select ng-model="filter.time">
                                <md-option ng-repeat="(key, value) in filter.timerange" value="{{key}}">
                                    {{value}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container>
                            <md-button class="md-raised" style="top: 15px;">Go</md-button>
                        </md-input-container>
                    </div>
                    <ui-gmap-google-map center='map.center' zoom='map.zoom'>
                        <ui-gmap-marker
                                idKey='selfMarker.id'
                                coords='selfMarker.coords'
                                click=''
                                options='selfMarker.options'
                                events=''
                                control=''
                                >
                        </ui-gmap-marker>
                        <ui-gmap-markers models="dealMarkers" coords="'self'" icon="'icon'" click="openDealModal(id)"></ui-gmap-markers>
                    </ui-gmap-google-map>
                </md-content>
            </div>
        </md-tab>
        <md-tab label="List">
            <div ng-cloak>
                <md-content>
                    <md-list>
                        <md-list-item class="md-3-line md-long-text" ng-repeat="deal in deals" style="position: relative;">
                            <div class="md-list-item-text" style="padding-left: 100px; padding-right: 100px;">
                                <md-button class="md-raised md-primary" style="position: absolute; bottom: 10px; right: 10px;">Feed me!</md-button>
                                <div style="position: absolute; top: 10px; right: 15px;" ng-click="deleteDeal(deal)">.</div>

                                <img ng-src="{{deal.image}}" class="md-avatar" alt="{{deal.title}}" width="90" style="border-radius: 3px; float: left; margin-left: -100px;">
                                <h3>{{ deal.title }}</h3>
                                <h4>{{ deal.description }}</h4>

                                <p>{{ deal.address }}</p>

                                <p>Price: {{ deal.price}} You save:{{deal.discount}}!</p>

                                <p><img ng-src="./img/user.png" width="10px" height="10px"/> {{ deal.interested }} / {{
                                    deal.quantity }}
                                    interested</p>
                            </div>
                            <md-divider></md-divider>
                        </md-list-item>
                    </md-list>
                </md-content>
            </div>
        </md-tab>
    </md-tabs>
</md-content>