<md-content layout-padding>
	Content
</md-content>

<md-content layout="column" flex class="md-padding">

	<div ng-cloak>
		<md-content>
			<md-list>
				<md-subheader class="md-no-sticky">Feeders list</md-subheader>
				<md-list-item class="md-3-line md-long-text" ng-repeat="deal in deals" layout="column">
					<div>
						<md-button class="md-raised" ng-click="openDealModal(deal.id)">Open modal</md-button>
					</div>

					<img ng-src="{{deal.image}}" class="md-avatar" alt="{{deal.title}}"/>
							
					<!--<div>{{deal}}</div> -->
					
					
					
					<div class="md-list-item-text">
						 <h3>{{ deal.title }}</h3>
					<h4>{{ deal.description }}</h4>
					<p>{{ deal.location }}</p>
					<p>Price: {{ deal.price}} You save:{{deal.discount}}!</p>
					<p> {{deal.quantity}} available</p>
					<p><img ng-src="./img/user.png"  width="10px" height="10px"/> {{ deal.subscribers.length }} interested</p>

					</div>
				
					
				</md-list-item>
			</md-list>
		</md-content>
	</div>
	<div ng-controller="gMap" ng-cloak>
		<md-content>
			<ui-gmap-google-map center='map.center' zoom='map.zoom'>
				<ui-gmap-marker
						idKey='selfMarker.id'
						coords='selfMarker.coords'
						click=''
						options=''
						events=''
						control=''
						>
				</ui-gmap-marker>

				<ui-gmap-markers models="dealMarkers" coords="'self'" icon="'icon'">
				</ui-gmap-markers>
			</ui-gmap-google-map>
		</md-content>
	</div>

</md-content>